:root {
    --primary-color: white;
    --secundary-color: #F2E625;
    --3er-color: hsl(193, 69%, 60%);
    --4to-color: hsl(339, 85%, 52%);
    --background-color: #1d1d1d;
    --btn-colorshadow: #3b3b3999;
    --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-font-size: 1.8rem;
    --nav-color-font: hsla(60, 5%, 74%, 0.9);
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
    /* background-color: var(--background-color); */
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--primary-color);
    list-style: none;
}

/* begining of the code */

main {
    padding: 0 150px;
    width: 100%;
    min-height: 100vh;
}

.section-1, .section-2, .section-3, .section-4, .section-5 {
    padding: 0;
    min-height: 100vh;
    max-width: 1000px;
}

/**/

/* header */
.header {
  position: fixed;
  width: 120px;
  right: 60px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.header .logo-tittle {
    width: 100%;
    height: auto;
}

/* Nav */
.nav {
    position: fixed;
    width: 100px;
    right: 60px;
    top: 50%;
    transform: translate(-0%, -50%);
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-nav a {
    font-size: 1.8rem;
    font-style: italic;
    font-variant: small-caps;
    line-height: 3;
    color: var(--nav-color-font);
}

.main-nav a:hover {
    color: var(--3er-color);
}

/* Footer */
.footer {
    position: fixed;
    top: 50%;
    bottom: 50%;
}

.footer-social-links ul {
    flex-direction: column;
    width: 70px;
}

.footer a {
    display: block;
    padding: 20px 0;
}

.footer-credit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
}
/**/

/* Section-2 */
.section-2 {
    min-height: auto;
}

.section-2 .about-in {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 60px auto;
    align-items: center;
}

/* ection-3 */
.section-3 .skills-box-grid {
    margin-bottom: 50px;
}

/* Section-4 */
.projects {
    margin: 40px 40px;
}